html,
body{
    height:100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.gradient{
    background-color: #148cb6;
    background: linear-gradient(
        135deg,
        rgb(242, 0, 190) 0%,
        rgb(199, 0, 93) 100%
    );
}
.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #fff;
}
.feature{
    color: #fff;

}
.hey{
    height: 200px;
    width: 200px;
}
.feature ul{
    padding-left: 2rem;
    list-style-type: none;

}
.feature ul li{
    padding-left: 2rem;
    background-image: url(flower.jpg);
    background-size: 20px;
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;

}
.icon{
    columns: #fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.gallery{
    background-color: gray ;

}
.gallery img{
    border-radius: 5%;
}
.services{
    color: #fff;

}
footer{
    color: #fff;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
    text-align: center;
}